
.game-box {
    border: solid 3px black;
    box-sizing:border-box;
    width: 125px;
    height: 125px;
}

mat-icon {
    font-size: 50px;
    width:50px;
    height:50px;
}

.circle-player {
    background-color: blue;
    width: 50px;
}

.aligned-with-icon{
    position: absolute;
    margin-top: 5px;
    margin-left: 5px; /* optional */
}

.aligned-with-icon-relative{
    // position: relative;
    // top: -5px;
    // margin-left: 5px; /* optional */
    font-size:18px;
}

.home-area > span {
    font-size: 20px;
}