<div [id]="spotId" class="game-box noselect" [style.background-color]="spotData.active ? 'lightgreen' : 'white'" fxLayoutAlign="center center" (click)="onClick()">
    <div *ngIf="spotData.piece">
        <dg-game-piece [piece]="spotData.piece"></dg-game-piece>
    </div>
    <ng-container *ngIf="isSpecial">
        <mat-icon>brightness_low</mat-icon>
    </ng-container>
    <ng-container *ngIf="isEnd">
        <div fxLayout="column" fxLayoutAlign="center center" class="home-area">
            <mat-icon>home</mat-icon>
            <span>End</span>
        </div>
    </ng-container>
    <ng-container *ngIf="isHome">
        <div fxLayout="column" fxLayoutAlign="center center" class="home-area">
            <span>Start</span>
        </div>
    </ng-container>
</div>