<mat-card>
    <mat-card-title>Player {{player.name}}</mat-card-title>
    <mat-card-content fxLayout="column" fxLayoutGap="2vh">
        <mat-card class="waiting-place">
            <mat-card-title>Waiting Pieces</mat-card-title>
            <mat-card-content fxLayout="row wrap" fxLayoutAlign="space-between space-around" *ngIf="player">
                <ng-container *ngFor="let piece of player.playerProps.waitingPieces">
                    <dg-game-piece [piece]="piece"></dg-game-piece>
                </ng-container>
            </mat-card-content>
        </mat-card>
        <mat-card class="completed-place">
            <mat-card-title>Completed Pieces</mat-card-title>
            <mat-card-content fxLayout="row wrap" fxLayoutAlign="space-between space-around">
                <ng-container *ngFor="let piece of player.playerProps.completedPieces">
                    <dg-game-piece [piece]="piece" [isComplete]="true"></dg-game-piece>
                </ng-container>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-title>Current Roll</mat-card-title>
            <mat-card-content fxLayout="row wrap" fxLayoutAlign="center center">
                <ng-container *ngIf="player.playerProps.playerRoll > -1">
                    <btl-diceblock [minValue]="0" [maxValue]="4" [endValue]="player.playerProps.playerRoll" [duration]="3000"></btl-diceblock>
                </ng-container>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>
