<div fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row">
        <dg-board-spot [spotId]="'player-1-4'" [isSpecial]="true" (clicked)="onClicked($event)"></dg-board-spot>
        <dg-board-spot [spotId]="'middle-1'" (clicked)="onClicked($event)"></dg-board-spot>
        <dg-board-spot [spotId]="'player-2-4'" [isSpecial]="true" (clicked)="onClicked($event)"></dg-board-spot>
    </div>
    <div fxLayout="row">
        <dg-board-spot [spotId]="'player-1-3'" (clicked)="onClicked($event)"></dg-board-spot>
        <dg-board-spot [spotId]="'middle-2'" (clicked)="onClicked($event)"></dg-board-spot>
        <dg-board-spot [spotId]="'player-2-3'" (clicked)="onClicked($event)"></dg-board-spot>
    </div>
    <div fxLayout="row">
        <dg-board-spot [spotId]="'player-1-2'" (clicked)="onClicked($event)"></dg-board-spot>
        <dg-board-spot [spotId]="'middle-3'" (clicked)="onClicked($event)"></dg-board-spot>
        <dg-board-spot [spotId]="'player-2-2'" (clicked)="onClicked($event)"></dg-board-spot>
    </div>
    <div fxLayout="row">
        <dg-board-spot [spotId]="'player-1-1'" [isHome]="true" (clicked)="onClicked($event)"></dg-board-spot>
        <dg-board-spot [spotId]="'middle-4'" [isSpecial]="true" (clicked)="onClicked($event)"></dg-board-spot>
        <dg-board-spot [spotId]="'player-2-1'" [isHome]="true" (clicked)="onClicked($event)"></dg-board-spot>
    </div>
    <div fxLayout="row">
        <dg-board-spot [spotId]="'middle-5'" (clicked)="onClicked($event)"></dg-board-spot>
    </div>
    <div fxLayout="row">
        <dg-board-spot [spotId]="'complete-1-0'" [isEnd]="true" (clicked)="onClicked($event)"></dg-board-spot>
        <dg-board-spot [spotId]="'middle-6'" (clicked)="onClicked($event)"></dg-board-spot>
        <dg-board-spot [spotId]="'complete-2-0'" [isEnd]="true" (clicked)="onClicked($event)"></dg-board-spot>
    </div>
    <div fxLayout="row">
        <dg-board-spot [spotId]="'player-1-6'" [isSpecial]="true" (clicked)="onClicked($event)"></dg-board-spot>
        <dg-board-spot [spotId]="'middle-7'" (clicked)="onClicked($event)"></dg-board-spot>
        <dg-board-spot [spotId]="'player-2-6'" [isSpecial]="true" (clicked)="onClicked($event)"></dg-board-spot>
    </div>
    <div fxLayout="row">
        <dg-board-spot [spotId]="'player-1-5'" (clicked)="onClicked($event)"></dg-board-spot>
        <dg-board-spot [spotId]="'middle-8'" (clicked)="onClicked($event)"></dg-board-spot>
        <dg-board-spot [spotId]="'player-2-5'" (clicked)="onClicked($event)"></dg-board-spot>
    </div>
</div>
